:root {
	--color-dark: #453020;
	--color-medium: #b39c7d;
	--color-light: ##dbcdad;
	--color-lightest: #fff5cf;
	--color-accent: #72bab8;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

	background-color: var(--color-lightest);
	background-image: url("/images/bg.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: var(--color-dark);
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}
